<div class="col-6 mx-auto mt-5">
    <h2>Login</h2>
    <div ng-show="vm.error" role="alert" class="alert alert-danger">{{vm.error}}</div>
    <form name="form" ng-submit="vm.login()" novalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" ng-model="vm.email" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="vm.password" required />
        </div>
        <div class="form-group">
          <button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
