<div ng-if="vm.loading" ng-include="'app-pages/partial.loading.html'"></div>

<div ng-if="!vm.loading">
  <center>
    <h3 class="mb-4">{{'' | greeting}} {{vm.admin.name}}</h3>
    <p class="lead text-secondary">You are administrator of the
      <span>
        {{vm.admin.adminroles.length > 1 ? 'departments' : 'department'}}
      </span>
    </p>
    <p class="lead text-secondary">
      <strong>{{vm.adminRoles}}</strong>
    </p>
  </center>

  <!-- Quicklinks -->
  <div class="mb-3">
    <div class="row">
      <div
        class="col-xl-3 col-lg-6 col-md-6 col-sm-6 ml-auto mt-3"
        ng-repeat="ql in vm.quickLinks"
        >
        <div class="card">
          <div class="card-header text-white" ng-class="ql.color">
            <div class="row">
              <div class="col-4 d-flex align-items-center">
                <span class="mx-auto fa-3x" ng-class="ql.icon"></span>
              </div>
              <div class="col-8">
                <div class="row">
                  <div class="ml-auto">
                    <h1 class="mr-2">{{ql.array.length}}</h1>
                   </div>
                </div>
                <div class="row">
                  <div class="ml-auto">
                    <h4 class="mr-2">{{ql.title}}</h4>
                   </div>
                </div>
              </div>
            </div>
          </div>
          <a href="{{ql.link}}">
          <div class="card-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Graphs -->
  <div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 ml-auto mb-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-fw fa-area-chart"></i>
          &nbsp;Purchase times
        </div>
        <div class="card-body">
          <canvas
            id="line"
            class="chart chart-line"
            chart-data="vm.purchaseTimes.data"
            chart-labels="vm.purchaseTimes.labels"
            chart-series="vm.purchaseTimes.legend"
            chart-options="vm.ptChartOptions"
            chart-dataset-override="datasetOverride">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 ml-auto mb-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-fw fa-bar-chart"></i>
          &nbsp;Incomes and expenses
        </div>
        <div class="card-body">
          <canvas
            id="bar"
            class="chart chart-bar"
            chart-data="vm.incomesExpenses.data"
            chart-labels="vm.incomesExpenses.labels"
            chart-series="vm.incomesExpenses.series"
            chart-options="vm.ieChartOptions"
            chart-colors="vm.ieChartColors"
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
