<div ng-if="vm.loading" ng-include="'app-pages/partial.loading.html'"></div>

<div class="card" ng-if="!vm.loading">
  <div class="card-body">
    <h4 class="card-title">Purchases</h4>
    <h6 class="card-subtitle mb-2 text-muted">
      Here you manage all purchases.
    </h6>
    <h6 class="card-subtitle mb-4 text-muted">
      You can hover some fields to get more information.
    </h6>

    <div class="form-row mb-2">
      <div class="form-group col-md-4">
        <label for="perPageSelect">Purchases per page</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-bars"></i>
              </div>
            </div>
          </div>
          <select
            id="perPageSelect"
            class="custom-select"
            ng-model="vm.viewby"
            ng-change="vm.setItemsPerPage(vm.viewby)">
            <option ng-repeat="item in vm.purchasesPerPageSelect">{{item}}</option>
          </select>
          <label for="perPageSel
          ect"></label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="pagination">Select page</label>
        <div class="form-group col-md-4">
            <ul
            id="pagination"
            uib-pagination
            total-items="vm.totalPurchases"
            ng-model="vm.currentPage"
            max-size="vm.maxSize"
            ng-change="vm.setPage(vm.currentPage)"
            items-per-page="vm.purchasesPerPage">
          </ul>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Consumer</th>
            <th>Product</th>
            <th>Timestamp</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Paid Price</th>
            <th>Revoke</th>
          </tr>
        </thead>

        <tbody>
          <tr
            ng-repeat="purchase in vm.paginationWindow | orderBy : '-id'"
            ng-class="purchase.revoked ? 'table-secondary' : ''">
            <td>{{purchase.id}}</td>
            <td>{{purchase.consumerName}}</td>
            <td
              data-toggle="tooltip"
              data-placement="top"
              title="{{purchase.productName}}">
              {{purchase.productName | longStrings}}
            </td>
            <td
              data-toggle="tooltip"
              data-placement="top"
              title="{{purchase.timestamp}}">
              {{purchase.timestamp | customDateString}}
            </td>
            <td>{{purchase.amount}}</td>
            <td>
              {{(purchase.paid_base_price_per_product +
                purchase.paid_karma_per_product) | customCurrency:true}}
            </td>
            <td>
              {{purchase.amount * (purchase.paid_base_price_per_product +
                purchase.paid_karma_per_product) | customCurrency : true}}
            </td>

            <td>
              <button
                type="button"
                class="btn btn-outline"
                ng-click="vm.revokePurchase(purchase)"
                ng-disabled="puchase.revoked">
                <i ng-class="purchase.revoked? 'fa-times' : 'fa-reply'" class="fa"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>
