body {
  overflow-x: hidden;
}

.navbar {
  margin-bottom: 2rem;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}

.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

[ng-cloak] {
  display: none !important;
}
