<div class="modal fade" id="editConsumerModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form>
        <div class="modal-body">
          <div ng-if="vm.editConsumerData.error">
            <div
              class="alert"
              ng-class="message.class"
              role="alert"
              ng-repeat="message in vm.editConsumerData.messages">
              {{message.message}}
            </div>
          </div>
          <p class="text-center">Edit consumer</p>
          <h4 class="text-center">{{vm.editConsumerData.consumer.name}}</h4>
          <hr>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              ng-model="vm.editConsumerData.editedConsumer.name">
          </div>
          <div class="form-group">
            <label for="email">Email adress</label>
            <input
              type="email"
              class="form-control"
              id="email"
              ng-model="vm.editConsumerData.editedConsumer.email">
          </div>
          <div class="form-group">
            <label for="studentnumber">Studentnumber</label>
            <input
              type="number"
              class="form-control"
              id="studentnumber"
              ng-model="vm.editConsumerData.editedConsumer.studentnumber">
          </div>
          <div class="form-row">
            <div class="col-6">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                ng-model="vm.editConsumerData.editedConsumer.password">
            </div>
            <div class="col-6">
              <label for="repeat-password">Repeat password</label>
              <input
                type="password"
                class="form-control"
                id="repeat-password"
                ng-model="vm.editConsumerData.editedConsumer.repeatpassword">
            </div>
          </div>
          <hr>
          <p class="text-center">Set adminroles</p>
          <div class="form-check" ng-repeat="dep in vm.departments">
            <label class="form-check-label">
              <label class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  ng-model="vm.editConsumerData.editedConsumer.adminroles[dep.id]"
                  ng-checked="vm.editConsumerData.editedConsumer.adminroles[dep.id]">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{dep.name}}</span>
              </label>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            ng-click="vm.editConsumer()"
            class="btn btn-primary">Submit
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
